<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="repositorio-header">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `repositorio-header`
     * header de la aplicación 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RepositorioHeader extends Polymer.Element {
      static get is() { return 'repositorio-header'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'repositorio-header'
          }
        };
      }
    }

    window.customElements.define(RepositorioHeader.is, RepositorioHeader);
  </script>
</dom-module>
