<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="repositorio-header">
  <template>
    <style>
      :host {
        display: block;
      }
      
      .imga {
        width: 30px;
        height: 30px;
      }
      .he{
          display: inline-flex;
          background-color: red;
          width: 500px;
      }
      div {
        width: 450px;
        text-align: center;
        color: white;
        font-size: 24px;  
      }
    </style>
    <header>
      <div class="he">
        <img class="imga" src="../../images/mail.png">
        <div main-title>Diego Vázquez</div>
        <img class="imga" src="../images/home.png" >
      </div>
    </header>
  </template>

  <script>
    /**
     * `repositorio-header`
     * header de la aplicación 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RepositorioHeader extends Polymer.Element {
      static get is() { return 'repositorio-header'; }
      static get properties() {
        return {
          
        };
      }
    }

    window.customElements.define(RepositorioHeader.is, RepositorioHeader);
  </script>
</dom-module>
